
<div class="navbar bg-base-100  top-0 z-50 "> 
    <div class="flex-1  ">
        <label for="my-drawer-3"  class="btn btn-ghost btn-circle lg:hidden">
            <i class="pi pi-align-left " style="font-size: 1rem"></i>
        </label>
    </div>

    <div class="end-part flex-none justify-end">
        <div class="user mt-3">
            <p>Hi {{Full_Name}}</p>
        </div>

        <button class="btn ml-4 btn-ghost btn-circle">
            <a (click)="visibleSidebar2 = true">
                <i class="fa-regular fa-bell"></i>
                <span class="badge badge-xs badge-primary indicator-item">{{totalNumber}}</span>
            </a> 
        </button>   
    </div>
</div>
<p-sidebar [(visible)]="visibleSidebar2" position="right" >
    <h1>Notifications from Tenants</h1>
    <app-nortification></app-nortification>
</p-sidebar>

