<!-- nav-bar -->
<app-nav-bar></app-nav-bar>


<!-- <div class=" prop pt-5 justify-center md:prop-cols-1 gap-20 rounded">
  <div class="about">
    <div class="card w-96 bg-base-100 shadow-xl pt-5">
      <figure><img src="../../../assets/images/landing.jpeg" alt="Shoes" /></figure>
      <div class="card-body">
        <h6>{{data.p_name}}</h6>
        <h6>R{{data.p_price}} /Month</h6>
        <h6>{{data.p_address}},<br>Brixton Johannesburg, 0001</h6>
        <div class="icons">
          <i class="fa-solid fa-bed"></i>
          <h6> {{data.p_room}} rooms </h6>
          <div class="space">
          </div>
          <i class="fas fa-bath"></i>
          <h6> {{data.p_bath}} bathrooms</h6>
        </div>
      </div>
      <div class="card glass col-10 justify-content-center p-5 m-3">
        <h6>description</h6>
        <p> {{data.p_description}}</p>
      </div>
    </div>
  </div>
  <div class="grid m-2 pt-5">
    Gallery
    <div class="card shadow-xl pt-5">
    </div>
  </div>
</div> -->


<div class="card lg:card-side bg-base-100 shadow-xl m-5 p-2">
  <figure><img src="../../../assets/images/landing.jpeg" alt="Shoes" /></figure>
  <div class="card-body">
    <h2 class="card-title">Accommodation info</h2>
    <div class="card-body">
      <h6>{{data.p_name}}</h6>
      <h6>R{{data.p_price}} /Month</h6>
      <h6>{{data.p_address}},<br>Brixton Johannesburg, 0001</h6>
      <div class="flex gap-5">
      <i class="fa-solid fa-paw"></i>
      <h6>pet friendly</h6>
    </div>
      <div class="icons">
        <i class="fa-solid fa-bed"></i>
        <h6> {{data.p_room}} rooms </h6>
        <div class="space">
        </div>
        <i class="fas fa-bath"></i>
        <h6> {{data.p_bath}} bathrooms</h6>
        <div class="space">
        </div>
        <i class="pi pi-car"></i>
        <!-- <i class="fa-solid fa-garage-car"></i> -->
        <h6> 2 garages</h6>
      </div>
    </div>
    <br>
    <div class="card glass col-10 justify-content-center p-5 m-3">
      <h6>description</h6>
      <p> {{data.p_description}}</p>
    </div>
    <div class="card-actions justify-end">
    </div>
  </div>
</div>


<!-- interior part of the accommodation -->
<h2 class="card-title m-5">Accommodation pictures</h2>
<div class="grid lg:card-side bg-base-100 sm:grid-cols-2 shadow-xl m-5 p-2 gap-5 md:grid-cols-2  xl:grid-cols-3">

    <img src="../../../assets/images/landing.jpeg" alt="Shoes" />
    <img src="../../../assets/images/landing.jpeg" alt="Shoes" />
    <img src="../../../assets/images/landing.jpeg" alt="Shoes" />
    <img src="../../../assets/images/landing.jpeg" alt="Shoes" />
    <img src="../../../assets/images/landing.jpeg" alt="Shoes" />
    <img src="../../../assets/images/landing.jpeg" alt="Shoes" />

</div>


<!-- back and apply buttons  -->
<div class="gap-10 m-5">
  <button class="btn1 btn-active btn-primary ml-2" routerLink="/landing">back</button>
  <button class="btn1 btn-active btn-primary ml-2" routerLink="/apply">Apply</button>
</div>