@import '~bootstrap/dist/css/bootstrap.min.css';

@media screen and (min-width: 630px){
        .empty{
            width: 73vw;
        }
    }


    
textarea.input {
    min-height: 250px;
    max-height: 250px;
}