// @import '~bootstrap/dist/css/bootstrap.min.css';

@media screen and (min-width: 630px){
    .empty{
        width: 73vw;
    }
}

textarea.input {
    min-height: 250px;
    max-height: 250px;
}
.images li{
    margin-left: 12px;
}
.images .body{
    margin-top: 20px;
}
.addedImages{
    height: 100px;
}
.uploader{
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 768px){
    .ng-wizard-theme-arrows>ul.step-anchor {
        border: 0;
        background: #fff!important;
    }
}
