// @import '~bootstrap/dist/css/bootstrap.min.css';

@media screen and (min-width: 630px){
    .empty{
        width: 73vw;
    }
}

textarea.input {
    min-height: 250px;
    max-height: 250px;
}
.images li{
    margin-left: 12px;
}
.images .body{
    margin-top: 20px;
    margin-bottom: 20px;
}
img {
    vertical-align: middle;
    border-style: none;
    width: 150px;
    height: 150px;
}
.main{
    background: white;
}
@media screen and (max-width: 768px){
    .ng-wizard-theme-arrows>ul.step-anchor {
        border: 0;
        background: #fff!important;
    }
}
