.card{
    height: 465px;
    width: 340px;
}
.img{
    border-radius: 8px;
    width: 400px;
    height: 250px;
}
* {
    box-sizing: border-box;
}
.app-btn {
    height: 32px;
    width: 110px;
    background: #f28100; 
    border: none;
    color: #fff;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
}

img svg, video, canvas, audio, iframe, embed, object {
    display: none; 
    vertical-align:0%; 
}
.modalbody[_ngcontent-odi-c96]{
    position: absolute;
    top:100%;
}