<div *ngIf="myNotification !=0" class="container justify-center " style="margin-top:5vh">
    <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1 gap-6" >
        <div class="card decoration-white shadow-xl text-primary-content" *ngFor="let i of myNotification">
            <div class="card-header h-7" >
                <h5>{{i.p_name}}</h5>
            </div>
            <div class="card-body">
                <h2 class="card-title">{{i.notif_type}}</h2>
                <p>{{i.subject}}</p>
                <i class="pi pi-clock"> {{i.created_at | date: 'dd/MMM/yyyy'}}</i>
            </div>
        </div>
    </div>
</div>

<div *ngIf="myNotification == 0" class="container justify-center " style="margin-top:5vh">
    <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1 gap-6" >
        <div class="card decoration-white shadow-xl text-primary-content">
            <div class="card-body">
                <h5>You have no notifications</h5>
            </div>
        </div>
    </div>
</div>