<p-toast position="top-right" key="tc"></p-toast>
<div class="container justify-center pending">
  <div class="container  mb-6 mt-6">
    <div class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-6">
      <div class="card shadow-xl border">
        <div class="grid card-body w-full user justify-start">
          <h2 class="card-title">Current</h2>
          <div class="flex flex-row">
            <div class=" backend">{{countTenants}} Tenant(s) </div>
          </div>
        </div>
      </div>

      <div class="card shadow-xl border">
        <div class="grid card-body w-full user justify-start">
          <h2 class="card-title">Signed</h2>
          <div class="flex flex-row">
            <div class=" backend">2 Moving in</div>
          </div>
        </div>
      </div>

      <div class="card shadow-xl border">
        <div class="grid card-body w-full user justify-start">
          <h2 class="card-title">Total Amount Received</h2>
          <div class="flex flex-row">
            <div class=" backend">R {{totPaid}} </div>
          </div>
        </div>
      </div>

      <div class="card shadow-xl border">
        <div class="grid card-body w-full user justify-start">
          <h2 class="card-title">Total Amount Not Received</h2>
          <div class="flex flex-row">
            <div class=" backend">R {{totUnPaid}} </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--------------------------------------------search bar and button-------------------------------->
  <!-- <div class="flex justify-start"> -->

    <!-- <form [formGroup]="Form">
      <div class="form-group mb-6">
        <label class="input-group ">Notification Type:</label>
        <select (change)="caller()" formControlName="usertype" class="input bg-gray-50 input-bordered w-full  email" placeholder="Select Accommodation Address ...">
          <option value disabled selected hidden>All</option> 
          <option *ngFor="let i of tenantAddress" value="{{i.p_address}}">{{i.p_address}}</option>
        </select>
      </div> 
    </form> -->


    <label class="input-group ">Accomodation:</label>
    <div class="grid mb-1 gap-1 md:grid-cols-2 xl:grid-cols-3 sm:grid-cols-1">

 
      <form [formGroup]="Form">
        <div class="form-group mb-6" >
         
          <select (change)="caller()" formControlName="usertype" class="email"
            placeholder="Select Accommodation Address ...">
            <option value disabled selected hidden>All</option>
            <!-- <option value="All">All</option> -->
            <option *ngFor="let i Of tenantAddress" value="{{i.p_address}}">{{i.p_address}}</option>&nbsp;
          </select>&nbsp;
        </div>
      </form>

      <div class="search">
      
        <input type="text" placeholder="Search Tenant" 
          [(ngModel)]="searchTenant" />&nbsp;
      </div>

      <div class="search">
        <label class="input-group "></label>
        <button type="submit" routerLink='/landlord/sendNortification'
          class="text-white btn-secondary focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:btn-secondary dark:hover:btn-secondary dark:focus:ring-blue-800">Send
          Notification</button>
      </div>
    </div>

  <!-- </div> -->
  <br>

  <!--------------------------------------------tii here---------------------------------------------->

  <h2><b>All Tenants</b></h2>
  <br>
  <div class="overflow-x-auto">
    <table class="table w-full">
      <!--------------------------------------------head-------------------------------------------------->
      <thead>
        <tr>
          <th></th>
          <th>Tenant</th>
          <th>Contact</th>
          <th>Unit</th>
          <th>Rent</th>
          <th>MOA Start</th>
          <th>MOA End</th>
          <th>MOA</th>
          <th>PAID</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <!---------------------------------------------row 1-------------------------------------------------->
        <tr *ngFor="let rentee of rentees | filter:searchTenant; let x=index;">

          <th>{{x+1}}</th>
          <td>{{rentee.full_name}}</td>
          <td>082-145-6643</td>
          <td>2A</td>
          <td>{{rentee.rent}}</td>
          <td>{{rentee.moastart | date:'dd-MM-yyyy'}}</td>
          <td>{{rentee.r_update_time | date:'dd-MM-yyyy'}}</td>
          <td></td>
          <td>


            <div class="form-control" *ngIf="rentee.paymentstatus">
              <label class="label cursor-pointer">
                <input type="checkbox" class="toggle toggle-primary" checked (click)="updatePayment(x,false)" />
              </label>
            </div>

            <div class="form-control" *ngIf="!rentee.paymentstatus">
              <label class="label cursor-pointer">
                <input type="checkbox" class="toggle toggle-primary" (click)="updatePayment(x,true)" />
              </label>
            </div>

          </td>

          <td>
            <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
            </p-confirmDialog>

                   <!-- <button type="btn" class="btn lg:ml-2 sm:mt-2 md:mt-2 text-white bg-red-600 text-center dark:hover:bg-red-600"><i class="fa fa-trash fa-lg"(click)="deleteUser(x)" ></i></button> -->
            <p-button (click)="deleteUser(x)" icon="pi pi-times" label="Delete"></p-button>

            <p-toast></p-toast>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ngx-loading [show]="loading" [config]="{
    animationType: ngxLoadingAnimationTypes.circleSwish,
    primaryColour: '#ffffff', secondaryColour: '#ffffff',
    backdropBorderRadius: '3px'
  }">
</ngx-loading>