<ngx-ui-loader></ngx-ui-loader>
<p-toast></p-toast>
<p-confirmDialog [style]="{width: '450px'}" header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>


<!--show these cards if no tenants-->
<ng-container *ngIf="number == 0" >
  <div class="container">
      <div class="flex justify-center">
          <div class="grid sm:grid-cols-1 ">
              <div class="card empty w-full shadow-xl">
                  <div class="card-body">
                      <h2 class="card-title">My Tenants</h2>
                      <div>
                          <h5>You have 0 Tenants</h5>
                          <h6>check if you have any pending tenant(s)</h6>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</ng-container>
<!--till here-->

<!--else these-->
<ng-container *ngIf="number !== 0" >
<div class=" justify-center pending">
  <div class="mb-6 mt-6">
    <div class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-6">
      <div class="card shadow-xl border">
        <div class="grid card-body w-full user justify-start">
          <h2 class="card-title">Current</h2>
          <div class="flex flex-row">
            <div class=" backend">{{countTenants}} Tenant(s) </div>
          </div>
        </div>
      </div>

      <div class="card shadow-xl border">
        <div class="grid card-body w-full user justify-start">
          <h2 class="card-title">Open</h2>
          <div class="flex flex-row">
            <div class="backend">{{numroomsA}} Room(s)</div>
          </div>
        </div>
      </div>

      <div class="card shadow-xl border">
        <div class="grid card-body w-full user justify-start">
          <h2 class="card-title">Total Received</h2>
          <div class="flex flex-row ">
            <div class=" backend">R {{totPaid}} </div>
          </div>
        </div>
      </div>

      <div class="card shadow-xl border">
        <div class="grid card-body w-full user justify-start">
          <h2 class="card-title">Total Not Received</h2>
          <div class="flex flex-row ">
            <div class=" backend">R {{totUnPaid}} </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--------------------------------------------search bar, send notification and Filter-------------------------------->
   
      <div class="form-group mb-6 mt-6">
        <input type="text" placeholder="Search Tenant" class="input bg-gray-50 input-bordered w-full lg:w-1/2 email" [(ngModel)]="searchTenant"/>
      </div>

      <div class="grid mb-1 gap-1 md:grid-cols-2 xl:grid-cols-3 sm:grid-cols-2 users">
        <form [formGroup]="Form">
          <div class="form-group mb-6">
            <label>Filter by Accommodation Name</label>
            <select  (change)="caller()" formControlName="usertype" class="input bg-gray-50 input-bordered w-64  email" placeholder="Select User Role" >
                <option value disabled selected hidden>All</option>
                <option value="All">All</option>
                <option *ngFor="let i Of tenantAddress" value="{{i.p_name}}">{{i.p_name}}</option>
            </select>
          </div>
        </form>

        <div class=" search justify-end sendNotification">
          <button type="submit" routerLink='/landlord/sendNortification'
            class="text-white btn-secondary mt-4 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:btn-secondary dark:hover:btn-secondary dark:focus:ring-blue-800">Send
            Notification</button>
        </div>
      </div>
    <div>
 
  </div>

  <br>

  <!--------------------------------------------tii here---------------------------------------------->

  <h2><b>My Tenants</b></h2>
  <br>
  <div class="overflow-x-auto">
    <table class="table w-full">
      <!--------------------------------------------head-------------------------------------------------->
      <thead>
        <tr>
          <th></th>
          <th>Tenant</th>
          <th>Contact</th>
          <th>Unit</th>
          <th>Rent</th>
          <th>MOA Start</th>
          <th>MOA End</th>
          <th>MOA</th>
          <th>PAID</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rentee of rentees | filter:searchTenant; let x=index;">

          <th>{{x+1}}</th>
          <td>{{rentee.full_name}}</td>
          <td>082-145-6643</td>
          <td>{{rentee.unit}}</td>
          <td>{{rentee.rent}}</td>
          <td>{{rentee.agreestartdate | date:'dd-MM-yyyy'}}</td>
          <td>{{rentee.r_update_time | date:'dd-MM-yyyy'}}</td>

          <td></td>
          <td>
            <div class="form-control" *ngIf="rentee.paymentstatus">
              <label class="label cursor-pointer">
                <input type="checkbox" class="toggle toggle-primary" checked (click)="updatePayment(x,false)" />
              </label>
            </div>
    
            <div class="form-control" *ngIf="!rentee.paymentstatus">
              <label class="label cursor-pointer">
                <input type="checkbox" class="toggle toggle-primary " (click)="updatePayment(x,true)" />
              </label>
            </div>
          </td>
          
          <td>
            <a (click)="deleteUser(rentee)" type="button" class="button btn-danger focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium" >
              <i class="fa fa-trash fa-lg"></i> Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</ng-container>
<!--till here-->

