.button{
    color: red;
}
@media screen and (min-width: 893px) { 
    .sendNotification{
        position: relative;
        left:100%;
        top:-100%

    }
}
.empty, .card-body{
    align-items: center;
    text-align: center;
}
.form-group button{
    margin-left: -15%;
    margin-bottom: 5%;
}
h2{
    color: black;
}
@media screen and (min-width: 630px){
    .empty{
        width: 73vw;
        margin-top: 15%;
    }
  
    
}

.invalid-feedback{
    color: red;
}
.is-invalid{
    border-color: red;
}
.lm_wizard {
    border: 1px solid #e6e6e6;
    border-radius: 4px;
}
.button{
    color: red;
}
.pi{
    color: red;
    font-size: larger;
    cursor: pointer;
}

.agreement{
    border: none;
    background-color: inherit;
    border-bottom: 1px solid #000000;
    outline: 0;  
  }
.logo{
    margin-bottom: 5%;
}
.p{
    font-size: medium;
}
.divider{
    color: black;
}
.second{
    margin-top: -1%;
    color: black;
}
img{
    height: 150px;
    width: 300px;
}

.agreements{
    height: 150px;
    width: 300px;
    margin-top: 6%;
}

.agreementDate{
    margin-left: 10%;
}
.agreements{
    border: none;
    background-color: inherit;
    outline: 0;
}

