<div class="drawer drawer-mobile" >
    <input id="my-drawer-3" type="checkbox" class="drawer-toggle" /> 
    <div class="drawer-content flex flex-col">
        <!-- Navbar-->
        <app-header></app-header>
        
        <!-- Page content here -->
        <div class="container w-full">
            <router-outlet></router-outlet>
        </div>
    </div> 
    <div class="drawer-side " >
        <label for="my-drawer-3" class="drawer-overlay"></label> 
        <ul  class="menu p-4 overflow-y-auto w-60 primary">
           
            <a routerLink='/landlord/'><img id="logo" src="../../../assets/images/landlordLogo.png"></a>
            <li><i class="pi pi-home"><a routerLink='/landlord/'>Dashboard</a></i></li>
            <li><i class="pi pi-users"><a routerLink='/landlord/tenant'>Tenants</a></i></li>
            <li><i class="pi pi-plus" ><a routerLink='/landlord/myproperty'>Add Property</a></i></li>
            <li><i class="pi pi-clock"><a routerLink='/landlord/pending'>Pending</a></i></li>
            <li><i class="pi pi-power-off"><a (click)="Logout()" >Logout</a></i></li>
        </ul>    
    </div>
</div>




