
.navbar{
    position: fixed;
    overflow: hidden;
    top: 0;
    background-color: #55ADEA;
    color: white;
}

.logout{
    cursor: pointer;
}
ul a {
    margin-left: 10px;
    border: none;
    color: white;
    padding: 10px 0px 15px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.menu{
    color: white;
    background-color: #55ADEA;
}


#logo{
    margin-left: 15px;
    width: 70%;
    text-align: left;
    left:0;
}

#logo:hover{
    border: none;
}
.menu #logo:hover{
    text-decoration: none;
}
.user{
    margin-top: 25px;
}
.appName{
    margin-top: 12px;
    color: white;
}
.bell .fa-bell{
    font-size: 2rem
}

.total{
    
    color: #ffffff;
    border: none;
    font-size: 1rem;
}
