// .dash-card{
//     padding-left: 200px;
//     padding-right: 200px;
//     text-align: left;
// }
// .flex{

//     gap: 0.5rem;
// }
@media screen and (min-width: 630px){
   .pending{
        width: 73vw;
    }
}
.backend{
    font-size: 22px;
}
.input{
    width: 35vw;
}