<div class="drawer drawer-mobile">
    <input id="my-drawer-3" type="checkbox" class="drawer-toggle"/> 
    <div class="drawer-content flex flex-col" style="background-color:whitesmoke;">
      <!-- Navbar -->
        <div class="navbar w-full fixed top-0 z-50">
            <div class="flex-none lg:hidden " >
                <div class="flex navb">
                    <div>
                        <label for="my-drawer-3" class="btn btn-square btn-ghost">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
                        </label>
                    </div>
                    <div class="appName"> 
                       
                    </div>
                </div>
            </div> 
        </div>


      
        <!-- Page content here -->

        
    </div> 
    <div class="drawer-side" >
        <label for="my-drawer-3" class="drawer-overlay"></label> 
        <ul  class="menu p-4 overflow-y-auto w-80">
            <!-- Sidebar content here  style="background-color: #053C5E" -->
            <img id="logo" class="img" src="../../../assets/images/landlordLogo.png">
            
            <div class="user ml-4">
            </div>
            <div class="divider" ></div> 
            <li><i class="pi pi-home"><a href="/dash">Dashboard</a></i></li>
            <li><i class="pi pi-users"><a >Tenants</a></i></li>
            <li><i class="pi pi-check" ><a >Add Property</a></i></li>
            <li><i class="pi pi-times"><a >Pending</a></i></li>
            <li><i class="pi pi-sign-out"><a >Logout</a></i></li>
        </ul>    
    </div>
</div>


<div class="card w-96 bg-primary text-primary-content">
  <div class="card-body">
    <h2 class="card-title">Monthly Revenue</h2>
    <p>R14 300</p>
    <div class="card-actions justify-end">
    </div>
  </div>
</div>
<br>

<div class="card w-96 bg-primary text-primary-content">
  <div class="card-body">
    <h2 class="card-title">Total Amount Received</h2>
    <p>R7 800</p>
    <div class="card-actions justify-end">
    </div>
  </div>
</div>
<br>

<div class="card w-96 bg-primary text-primary-content">
  <div class="card-body">
    <h2 class="card-title">unpaid Amount</h2>
    <p>R6 500</p>
    <div class="card-actions justify-end">
    </div>
  </div>
</div>
<br>

<div class="card w-96 bg-primary text-primary-content">
  <div class="card-body">
    <h2 class="card-title">Rooms Occupied</h2>
    <p>7 Tenants</p>
    <div class="card-actions justify-end">
    </div>
  </div>
</div>
<br>

<div class="card w-96 bg-primary text-primary-content">
  <div class="card-body">
    <h2 class="card-title">Rooms Available</h2>
    <p> <i></i>4 Tenants</p>
    <div class="card-actions justify-end">
    </div>
  </div>
</div>
<br>

<div class="card w-96 bg-primary text-primary-content">
  <div class="card-body">
    <h2 class="card-title">Pending tenants</h2>
    <p>1 Tenant</p>
    <div class="card-actions justify-end">
    </div>
  </div>
</div>
<br><br>

<div class="overflow-x-auto">
    <table class="table w-full">
      <!-- head -->
      <thead>
        <tr>
          <th></th>
          <th>Tenant</th>
          <th>Contact</th>
          <th>Unit</th>
          <th>Rent</th>
          <th>MOA Start</th>
          <th>MOA End</th>
          <th>MOA</th>
          <th>PAID</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        <tr *ngFor="let rentee of rentees; let x=index" >
          <th>{{x+1}}</th>
          <td>{{rentee.full_name}}</td>
          <td>082-145-6643</td>
          <td>2A</td>
          <td>{{rentee.rent_paid}}</td>
          <td>{{rentee.created_time}}</td>
          <td>{{rentee.r_update_time}}</td>
          <td></td>
          <td></td>
          <td><button class="btn btn-error">Delete</button></td>
        </tr> 
      </tbody>
    </table>
  </div>
