.invalid-feedback{
    color: red;
}
.is-invalid{
    border-color: red;
}

.email, .password{
    padding-left: 25px;
}

//Desktop

.reg{
    color: #ff0000;
}

select, input{
    color: #66615B;
}

.fa-solid, .pi{
    color: #55ADEA;
}
span{
    background-color: #deddd8;
}
.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.header{
    border-bottom-left-radius: 100px;
    box-shadow: none;
}
@media screen and (min-width: 769px){
    .header{
        border-bottom-left-radius: none;
    }
}


body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #66615B;
    height: 100%;
    // width: 100vh;

}
