<app-nav-bar></app-nav-bar>
<p-toast position="top-right" key="tc"></p-toast>
<p-confirmDialog [style]="{width: '450px'}" header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>


<!-- view property pictures and deatils -->
<div class="card lg:card-side bg-base-100 shadow-xl m-3 p-2">
    <figure><img class="img" [src]="data.house_image" alt="Shoes" style="height: 396.33px;"/></figure>
    <div class="card-body">
        <div class="flex flex-row headers">
            <h3 class="card-title">Accommodation info</h3>
        </div>
        <h3 class="card-title">R {{data.p_price}} /Month</h3>
        <h6>{{data.p_address}}</h6>
        <h6>{{data.p_city}} {{data.p_town}}, {{data.p_zip_code}}</h6>
        <br>
        <div class="flex icons flex-row">
            <div class="flex flex-col basis-1/4">
                <i class="fa-solid fa-bed base">{{data.p_bath}}</i>
            </div>
            <div class="flex flex-col basis-1/4">
                <i class="fa-solid fa-bath " >{{data.p_bath}}</i>
            </div>
            <div class="flex flex-col basis-1/4">
                <i class="fa-solid fa-car ">{{data.p_bath}}</i>
            </div>
        </div>
        <div class="card-body shadow-xl">
            <h4 class="mb-4">Description</h4> 
            <p> {{data.p_description}}</p>
        </div>
    </div>
</div>

<div class="container rounded mt-10 pt-3">
    <div class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6 justify-center">
        <div class="card rounded-3 w-96 bg-base-100 shadow-xl " *ngFor="let i of tenantProperty ; let m = index">
            <figure><img src='{{i.images}}' alt="Shoes"  /></figure>
        </div>
    </div>
</div>

<div class="container justify-center pending mt-10">
    <button type="btn" routerLink="/"  class="text-white btn-primary ml-5 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:btn-primary dark:hover:btn-primary dark:focus:ring-blue-800">Back</button>
    <button type="btn"  routerLink="/login" class="text-white btn-primary ml-5 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:btn-primary dark:hover:btn-primary dark:focus:ring-blue-800">Apply Here</button>
</div>
