.invalid-feedback{
    color: red;
}
.is-invalid{
    border-color: red;
}
.email, .password{
    padding-left: 25px;
}
//Desktop
@media screen and (min-width: 769px){
    .gradient-custom{
        margin-top: 7vh;
    }
}
.reg{
    color: #ff0000;
}

select, input{
    color: #66615B;
}
.input{
    background-color: #fff;
}

button .p-button-rounded{
    width:10px; 
    height:120px;
    margin-left: 10px;
}
img {
    vertical-align: middle;
    border-style: none;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.card-profile-image img:hover{
    transition: 0.2s ease-in-out;
    transform:scale(1.1) 

}
.card-profile-image img{
    margin-top:-5%;
}

.body{
    text-align: center;
    margin-top: -1%;
}
.divider{
    margin-top: 1%;
}
.container{
    border: none;
    border-radius: none;
    box-shadow: none;
    
}