<div class="navbar shadow-xl">
    <div class="container-fluid ">
        <div class="flex-1">
            <a class="btn btn-ghost normal-case text-xl"><img src="../../../assets/images/unknown.png" alt="logo" width="71.78vw" height="47vh"></a>
        </div>

        <div  class="flex-none">
            <ul class="menu menu-horizontal p-0">
              <li><a routerLink="/login" >Login</a></li>
              <li><a routerLink="/register" >Register</a></li>
            </ul>
        </div>
    </div>
</div>