.invalid-feedback{
    color: red;
}
.is-invalid{
    border-color: red;
}

.email, .password{
    padding-left: 25px;
}
.container{
    position: absolute;
    top: 10%;
}

.reg{
    color: #ff0000;
}
span{
    background-color: #deddd8;
}
.fa-solid, .pi{
    color: #55ADEA;
}
.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

.header{
    box-shadow: none;
}

   