<ngx-ui-loader></ngx-ui-loader>
<p-toast></p-toast>
<p-confirmDialog [style]="{width: '450px'}" header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<div class="container ">
    <div class="navbar bg-base-100"> 
        <div class="flex-1  ">
            <label for="my-drawer-3"  class="btn btn-ghost btn-circle hidden">
                <i class="pi pi-align-left " style="font-size: 1rem"></i>
            </label>
        </div>
    
        <div class="end-part flex-none justify-end">
            <div class="user mt-3 mr-4">
                <button type="btn" (click)="logIssues()" class="text-white btn-primary focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:btn-primary dark:hover:btn-primary dark:focus:ring-blue-800">My Issues</button>            
            </div>

            <button class="btn ml-4 btn-ghost btn-circle">
                <a (click)="visibleSidebar2 = true" (click)="getNotifications()" >
                    <i class="fa-regular fa-bell"></i>
                    <span class="badge badge-xs badge-primary indicator-item">{{totalNumber}}</span>
                </a> 
            </button>  
        </div>
    </div>
</div>

<!-- <div *ngIf="myNotification !=0" class=" justify-center " style="margin-top:5vh">
    <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1 gap-6" *ngFor="let i of myNotification">
        <div class="card decoration-white shadow-xl text-primary-content" >
            <div class="card-header h-7" >
                <h5>{{i.p_name}}</h5>
            </div>
            <div class="card-body">
                <h2 class="card-title">{{i.notif_type}}</h2>
                <p>{{i.subject}}</p>
                <i class="pi pi-clock"> {{i.created_at | date: 'dd/MMM/yyyy'}}</i>
            </div>
        </div>
    </div>
</div>

<div *ngIf="myNotification == 0" class="container justify-center " style="margin-top:5vh">
    <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1 gap-6" >
        <div class="card decoration-white shadow-xl text-primary-content">
            <div class="card-body">
                <h5>You have 0 notifications</h5>
            </div>
        </div>
    </div>
</div> -->

<div *ngIf="emptyRoom == 0" class=" container justify-center " style="margin-top:5vh">
    <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1 gap-6" >
        <div class="card decoration-white shadow-xl text-primary-content">
            <div class="card-body">
                <h5 style="text-align: centre;">Once you have been accepted you will see your room details here!!!!</h5>
            </div>
        </div>
    </div>
</div>

<div *ngIf="emptyRoom !=0" class=" justify-center " style="margin-top:5vh">
    <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1 gap-6" *ngFor="let i of property">
        <div class="card decoration-white shadow-xl text-primary-content" >

            <div class="card-body">
                <figure><img class="img" src="{{i.house_image}}" alt="Shoes" /></figure>
                <br>
               <p>Address: {{i.p_address}}, {{i.p_city}}</p>   
                 <p>{{i.p_town}}, {{i.p_zip_code}}</p>     
                 <p>PropertyType: {{i.p_propertytype}}</p> 
                 <p>R      {{i.rent}}</p> 
                 <p>Status:    {{i.paymentstatus}}</p>
                 <br> 
                 <p routerLink="/profile" class="text-primary">Sign lease form <i class="pi pi-book"></i></p>
            </div>
        </div>
    </div>
</div>




<!-- <div class="emptyRoom">
    <div class="flex justify-center">
        <div class="grid sm:grid-cols-1 ">
            <div class="card empty w-full shadow-xl"*ngFor="let i of property">
                <div class="card-body"  >
                    <div>
                        <figure><img class="img" src="{{i.house_image}}" alt="Shoes" /></figure>
                        <br>
                       <p>Address: {{i.p_address}}, {{i.p_city}}</p>   
                         <p>{{i.p_town}}, {{i.p_zip_code}}</p>     
                         <p>PropertyType: {{i.p_propertytype}}</p> 
                         <p>R      {{i.rent}}</p> 
                         <p>Status:    {{i.paymentstatus}}</p>
                         <br> 
                         <p routerLink="/profile" class="text-primary">Sign lease form <i class="pi pi-book"></i></p>     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<p-sidebar [(visible)]="visibleSidebar2" position="right" >
    <h1>Notifications from Landlord</h1>
    <app-nortification></app-nortification>
</p-sidebar>

<p-dialog [(visible)]="dialogMessage" [style]="{width: '450px'}" header="Log Issues" [modal]="true" styleClass="p-fluid">
   <form [formGroup]="Form">
        <div class="form-group mb-6">
            <label for="issue1"> Water </label><br>
            <input type="checkbox" formControlName="issues" formid="issue1" name="issue1" value="Water" [ngClass]="{ 'is-invalid':submitted && f['message'].errors }">
            <div *ngIf="submitted && f['issues'].errors" class="invalid-feedback">
                <div *ngIf="f['issues'].errors['required']">message is required</div>
            </div>
        </div>

        <div class="form-group mb-6">
            <label for="issue2"> Electricity </label><br>
            <input type="checkbox" formControlName="issues" id="issue2" name="issue2" value="Electricity"
            [ngClass]="{ 'is-invalid':submitted && f['message'].errors }" >
    
            <div *ngIf="submitted && f['message'].errors" class="invalid-feedback">
                <div *ngIf="f['message'].errors['required']">message is required</div>
            </div>
        </div>

        <div class="form-group mb-6">
            <label for="issue3"> Wifi</label><br>
            <input type="checkbox" formControlName="issues" id="issue3" name="issue3" value="Wifi"
            [ngClass]="{ 'is-invalid':submitted && f['message'].errors }" >
            
            <div *ngIf="submitted && f['message'].errors" class="invalid-feedback">
                <div *ngIf="f['message'].errors['required']">message is required</div>
            </div>
        </div>

        <div class="form-group mb-6">
            <label for="issue4"> Appliance</label><br>
            <input type="checkbox" formControlName="issues" id="issue4" name="issue4" value="Appliance"
            [ngClass]="{ 'is-invalid':submitted && f['message'].errors }" >
            
            <div *ngIf="submitted && f['message'].errors" class="invalid-feedback">
                <div *ngIf="f['message'].errors['required']">message is required</div>
            </div>
        </div>

        <div class="form-group mb-6"> 
            <label class="input-group ">Other/specify:</label>
            <textarea type="text" formControlName="message"
                class="input bg-gray-50 input-bordered w-full email"
                [ngClass]="{ 'is-invalid':submitted && f['message'].errors }" >
            </textarea>        
            <div *ngIf="submitted && f['message'].errors" class="invalid-feedback">
                
                <div *ngIf="f['message'].errors['required']">message is required</div>
            </div>
        </div>

        <div class="form-group flex justify-end">
            <button type="submit" (click)="hideDialog()" class="text-white btn-secondary focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:btn-primary dark:hover:btn-primary dark:focus:ring-blue-800">Cancel</button>
            <button type="submit" (click)="sendNotification()" class="ml-5 text-white w-44 btn-primary focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:btn-primary dark:hover:btn-primary dark:focus:ring-blue-800">Send</button>
        </div>
      
    </form>
</p-dialog> 

<!-- <ngx-loading
    [show]="loading"
    [config]="{
    animationType: ngxLoadingAnimationTypes.threeBounce,
    primaryColour: '#ffffff', secondaryColour: '#ffffff',
    backdropBorderRadius: '3px'
    }">
</ngx-loading> -->

<div *ngIf="condition" class="filter  mx-auto bg-light shadow pt-3 pl-1 ml-5 mr-2 gap-5">

    <div class="grid m-5 md:grid-cols-2 sm:grid-cols-1 xs:grid-cols-1 lg:grid-cols-4  gap-5 justify-center"
        style="width: 100%;">

        <div class="form-group mb-6">
            <label></label>
            <select formControlName="usertype" class="input bg-gray-50 input-bordered w-64  email"
                placeholder="Select User Role">
                <option value disabled selected hidden>All</option>
                <option *ngFor="let i of propertytype" value="commune">commune</option>
            </select>
        </div>
    </div>
</div>



<!-- <div class="flex prop ml-5 justify-center md:prop-cols-1 rounded">
    <div class="grid m-5 md:grid-cols-2 sm:grid-cols-1 xs:grid-cols-1 lg:grid-cols-3  gap-10 justify-center"
        style="width: 100%;">
        <div *ngFor="let i of property | filter:searchItem |filter:filterItem ;let x = index ">

            <div class="card w-96 bg-base-100 shadow-xl col-xl-10 col-md-10 col-sm-10">
                <figure><img class="img" src="{{i.house_image}}" alt="Shoes" /></figure>
                <div class="card-body">
                    <h6>{{i.p_address}}<br>{{i.p_city}}<br>{{i.p_town}}</h6>
                        <h6>{{i.address}} </h6>
                        <h6>{{i.propertytype}} PropertyType</h6>
                    <h6>{{i.price}} Price</h6>
                    <h4>{{i.status}}Status</h4>
                    <div class="space">
                    </div>
                    <h4 routerLink="/profile" class="text-primary">{{i.status}}Sign lease
                        <i class="pi pi-book"></i>
                    </h4>
                    
                </div>
            </div>
            <br>
        </div>

    </div>
</div> -->




