<ngx-ui-loader></ngx-ui-loader>
<p-toast></p-toast>
<p-confirmDialog [style]="{width: '450px'}" header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<div class="container emptyRoom" *ngIf="this.emptyRoom == 0" >
    <div class="flex  justify-content-center">
        <div class="grid grid-cols-1 ">
            <div class="card empty w-full shadow-xl">
                <div class="card-body" >
                    <h2 class="card-title">My Room</h2>
                    <div>
                        <h5>Once you have been Accepted you will see your room details here</h5>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>


<div class="myRoom" *ngIf="this.emptyRoom != 0" >
    <div class="flex justify-center">
        <div class="container ">
            <div class="navbar bg-base-100"> 
                <div class="flex-1  ">
                    <label for="my-drawer-3"  class="btn btn-ghost btn-circle hidden">
                        <i class="pi pi-align-left " style="font-size: 1rem"></i>
                    </label>
                </div>
            
                <div class="end-part flex-none justify-end">
                    <div class="user mt-3 mr-4">
                        <button type="btn" (click)="logIssues()" class="text-white btn-primary focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:btn-primary dark:hover:btn-primary dark:focus:ring-blue-800">My Issues</button>            
                    </div>
        
                    <button class="btn ml-4 btn-ghost btn-circle">
                        <a (click)="visibleSidebar2 = true" (click)="getNotifications()" >
                            <i class="fa-regular fa-bell"></i>
                            <span class="badge badge-xs badge-primary indicator-item">{{totalNumber}}</span>
                        </a> 
                    </button>  
                </div>
            </div>
        </div>        
    </div>

    <div class="container roomDetails mt-4">
        <div class="card lg:card-side bg-base-100 shadow-xl" *ngFor="let i of property">
            <figure><img class="img" src="https://placeimg.com/200/280/arch"  alt="room" /></figure>
            <div class="card-body">
                <p>Address: {{i.p_address}}, {{i.p_city}}</p>      
                <p>PropertyType: {{i.p_propertytype}}</p> 
                <p>Rent Amount: R {{i.rent}}</p> 
                <p>Status:  {{i.status}}</p>
                <div class="signs" *ngIf="condition == 'accepted'">
                    <div *ngIf="signed == 'notsigned'; else elseBlock" >
                        <!-- The button to open modal -->
                        <label for="my-modal-4" ><a style="cursor: pointer;">Sign lease form<i class="fa-solid fa-file-pen" style="margin-left: 8px;"></i></a></label>                    
                    </div>
                    <ng-template #elseBlock>
                        <div class="signs">
                            <a style="cursor: pointer; color: blue;" (click)="captureScreen()">Download the memorandum<i class="fa-solid fa-file-pen" style="margin-left: 8px;"></i></a>
                        </div> 
                    </ng-template>
                </div>
            </div>
        </div>
    </div>

    <!-- <footer class="grid content-end footer footer-center border-t-4 p-3  text-base-content ">
        <div>
          <p>Copyright © 2022 All Rights Reserved | <br>
            Developed for WizeReantalz</p>
        </div>
    </footer> -->
</div>


<!-- Put this part before </body> tag -->
<input type="checkbox" id="my-modal-4" class="modal-toggle" />
<label for="my-modal-4" class="modal cursor-pointer">
    <label class="modal-box lg:w-2/4 xl:2/4 relative" for="">
        <label for="my-modal-4" class="btn btn-sm btn-circle  absolute right-2 top-2">✕</label>
        <h4 class="grid card-title justify-center">Rental Agreement <br> {{mymoa.agreementtype}}</h4>
        <div class="container-fluid">
            <p><b>TENANTS AGREE TO THE FOLLOWING:</b></p>
            <p>Date: {{mymoa.create_time | date: 'dd MMM YYYY'}}</p>
            <p>Agreement between <input type="text" class="agreement sm:24 md:24"  disabled value="{{mymoa.firstname}} {{mymoa.lastname}}"> Owner(s), and <input type="text" class="agreement" disabled value="{{mymoa.full_name}}" >, Tenant(s) for dwelling
                for dwelling located at <input type="text" class="agreement w-80" disabled value="{{mymoa.p_address}}, {{mymoa.p_city}}, {{mymoa.p_town}} {{mymoa.p_zip_code}}"> Location.</p><br>

            <p>Tenant(s) agree to rent this dwelling on a <input type="text" class="agreement" disabled value="{{mymoa.agreementtype}}" > basis for R <input type="text" class="agreement" disabled value="{{mymoa.rent}}" > payable between this dates
                <input type="text" class="agreement" disabled value="{{mymoa.paystartdate | date: 'dd MMM YYYY'}}" > and <input type="text" class="agreement" disabled  value="{{mymoa.payenddate | date: 'dd MMM YYYY'}}" > day of the calender month. </p><br>
                
            <p>Only <input type="text" class="agreement" disabled value="{{mymoa.full_name}}" > persons is to live in this dwelling. Therefore, and in consideration of the mutual promises and agreements 
                contained herein, the tenant agrees to memorandum the premises from the landlord under the following: </p>
            <ul>
                <li>1. To keep the yards clean.</li>
                <li>2. Not to repair motor vehicles in the premises.</li>
                <li>3. To pay rent on time and by cash .</li>
                <li>4. To pay for repairs of all damage, they or thir guests have caused.</li>
                <li>5. Have no visitors stay for no more than 3 weeks.</li>
            </ul>
            <p>Tenants hereby acknowledge that they have read this Agreement, understand it agree to it and have been given a copy.</p><br>

            <p>Sign here:</p><br>
            <canvas id="canvas"  width="300px">
                <input type="text" placeholder="Type here" class="input w-full max-w-xs" />
            </canvas>
            <div class="flex form-group justify-start "> 
                <button type="button" (click)="drawClear()" class="text-white btn-error focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:btn-primary dark:hover:btn-primary dark:focus:ring-blue-800">Clear signature</button>
            </div>

            <div class="flex form-group justify-end mb-2"> 
                <div class="grid gap-6 md:grid-cols-3 grid-cols-2">
                    <label type="btn" for="my-modal-4" class="text-white ml-2 btn-secondary focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:btn-primary dark:hover:btn-primary dark:focus:ring-blue-800">Close</label>
                    <label type="btn" for="my-modal-4" (click)="save(mymoa.moa)" class="text-white btn-primary focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:btn-primary dark:hover:btn-primary dark:focus:ring-blue-800">Send</label>
                </div> 
            </div>
        </div> 
    </label>
</label>
<p-sidebar [(visible)]="visibleSidebar2" position="right" >
    <h1>Notifications from Landlord</h1>
    <app-nortification></app-nortification>
</p-sidebar>

<p-dialog [(visible)]="dialogMessage" [style]="{width: '450px'}" header="Log Issues" [modal]="true" styleClass="p-fluid">
   <form [formGroup]="Form">
        <div class="form-group mb-6">
            <div class="form-group mb-6">
                <label for="issue4"> Water</label><br>
                <input type="radio" class="inputs" formControlName="issues" id="issue4"  value="Water"
                [ngClass]="{ 'is-invalid':submitted && f['issues'].errors }" >
            </div> 

            <div  class="form-group mb-6">
                <label for="issue4"> Electricity</label><br>
                <input type="radio" class="inputs" formControlName="issues" id="issue4"  value="Electricity"
                [ngClass]="{ 'is-invalid':submitted && f['issues'].errors }">
                
            </div>
            <div *ngIf="submitted && f['issues'].errors" class="invalid-feedback">
                <div *ngIf="f['issues'].errors['required']">message is required</div>
            </div>
        </div>

        <div class="form-group mb-6"> 
            <label class="input-group ">Describe in detail the issue:</label>
            <textarea type="text" formControlName="message"
                class="input bg-gray-50 input-bordered w-full email"
                [ngClass]="{ 'is-invalid':submitted && f['message'].errors }" >
            </textarea>        
            <div *ngIf="submitted && f['message'].errors" class="invalid-feedback">
                
                <div *ngIf="f['message'].errors['required']">message is required</div>
            </div>
        </div>

        <div class="form-group flex justify-end">
            <button type="submit" (click)="hideDialog()" class="text-white btn-secondary focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:btn-primary dark:hover:btn-primary dark:focus:ring-blue-800">Cancel</button>
            <button type="submit" (click)="sendNotification()" class="ml-5 text-white w-44 btn-primary focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:btn-primary dark:hover:btn-primary dark:focus:ring-blue-800">Send</button>
        </div>
    </form>
</p-dialog> 



<div class="">
    <div id="contentToConvert"  >
        <div class="container logo">
            <img src="../../../../assets/images/unknown.png" alt="Tracking System logo" class="center">
            <h4 class="grid card-title justify-center">Rental Agreement <br> {{mymoa.agreementtype}}</h4>
        </div>
        <div class="container ">
            <h6 class="mb-6"><b>TENANTS AGREE TO THE FOLLOWING:</b></h6>
            <p class="mb-6">Date: {{mymoa.create_time | date: 'dd MMM YYYY'}}</p>
            <p>Agreement between <input type="text" class="agreement sm:24 md:24"  disabled value="{{mymoa.firstname}} {{mymoa.lastname}}"> Owner(s), and <input type="text" class="agreement" disabled value="{{mymoa.full_name}}" >, Tenant(s) for dwelling
                for dwelling located at <input type="text" class="agreement w-80" disabled value="{{mymoa.p_address}}, {{mymoa.p_city}}, {{mymoa.p_town}} {{mymoa.p_zip_code}}"> Location.</p><br>

            <p>Tenant(s) agree to rent this dwelling on a <input type="text" class="agreement" disabled value="{{mymoa.agreementtype}}" > basis for R <input type="text" class="agreement" disabled value="{{mymoa.rent}}" > payable between this dates
                <input type="text" class="agreement" disabled value="{{mymoa.paystartdate | date: 'dd MMM YYYY'}}" > and <input type="text" class="agreement" disabled  value="{{mymoa.payenddate | date: 'dd MMM YYYY'}}" > day of the calender month. </p><br>
                
            <p class="mb-4">Only <input type="text" class="agreement" disabled value="{{mymoa.full_name}}" > persons is to live in this dwelling. Therefore, and in consideration of the mutual promises and agreements 
                contained herein, the tenant agrees to memorandum the premises from the landlord under the following: </p>
            <ul class="mb-6">
                <li class="mb-2">1. To keep the yards clean.</li>
                <li class="mb-2">2. Not to repair motor vehicles in the premises.</li>
                <li class="mb-2">3. To pay rent on time and by cash .</li>
                <li class="mb-2">4. To pay for repairs of all damage, they or thir guests have caused.</li>
                <li class="mb-2">5. Have no visitors stay for no more than 3 weeks.</li>
            </ul>
            <p >Tenants hereby acknowledge that they have read this Agreement, understand it agree to it and have been given a copy.</p><br>

            <p>Sign here:</p><br>
            <div class="flex">
                <div id="downloadCanvas"  width="300px">
                    <img src="{{mymoa.signature}}"  />
                    <div class="divider"></div>
                    <p class="Signature">Signature</p>
                </div>
            
                <div class="agreementDate">
                    <input type="text" class="agreements"  disabled value="{{mymoa.r_update_time | date: 'dd MMMM YYYY'}}" >
                    <div class="divider second"></div>
                    <p class="dateSigned">Date Signed</p>
                </div>
            </div>
        
        </div>
    </div>
</div>
