<section class=" gradient-custom">

    <div class="container ">

        <div class="row justify-content-center align-items-center ">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Application Form</h3>

                        <form [formGroup]="Form" (ngSubmit)="onSubmit()">

                            <div class="row">
                            </div>
                           <div class="row">
                                <div class="bord form-group col-md-6 mb-4">
                                    <input type="text" formControlName="firstname" placeholder="First Name"  class="form-control w-full" [ngClass]="{ 'is-invalid':submitted && f['firstname'].errors }"/>
                                    <div *ngIf="submitted && f['firstname'].errors" class="invalid-feedback">
                                        <div *ngIf="f['firstname'].errors['required']">First name is required</div>
                                    </div>
                                </div>   

                                <div class="form-group col-md-6 mb-4">
                                    <input type="text" formControlName="lastname" placeholder="Last Name" class="form-control w-full"  [ngClass]="{ 'is-invalid':submitted && f['lastname'].errors }"/>
                                    <div *ngIf="submitted && f['lastname'].errors" class="invalid-feedback">
                                        <div *ngIf="f['lastname'].errors['required']">Last name is required</div>
                                    </div>
                                </div>   
                            </div>

                                <div class="form-group col-md-6 mb-4">
                                    <input type="text" formControlName="email" placeholder="Email" class="form-control w-full"  [ngClass]="{ 'is-invalid':submitted && f['email'].errors }"/>
                                    <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                        <div *ngIf="f['email'].errors['required']">Email is required</div>
                                        <div *ngIf="f['email'].errors['email']">Email is invalid</div>
                                    </div>
                                </div>

                                <div class="grid grid-cols-12 gap-6">
                                    <div class="col-span-6 sm:col-span-3">
                                     
                                      <input type="text" formControlName="phonenumber" placeholder="012-345-6789" autocomplete="given-name" class="mt-1 block">
                                      <div *ngIf="submitted && f['phonenumber'].errors" class="invalid-feedback">
                                        <div *ngIf="f['phonenumber'].errors['required']">Phone Number is required</div>
                                        <div *ngIf="f['phonenumber'].errors['pattern']">Phone Number should follow the pattern 999-999-9999</div>
                                        <div *ngIf="f['phonenumber'].errors['maxlength']">Phone Number must not exceed 13 character</div>
                                    </div>
                                    </div>
                                
                                    <div class="col-span-6 sm:col-span-3">
                                      
                                      <input type="text" formControlName="age" placeholder="Age" autocomplete="family-name" class="mt-1 block">
                                      <div *ngIf="submitted && f['age'].errors" class="invalid-feedback">
                                        <div *ngIf="f['age'].errors['required']">age is required</div>
                                    </div>
                                    </div>
                                </div>
                            <br>

                            <div class="form-group col-md-6 mb-4">
                                <input type="text" formControlName="UploadID" placeholder="Upload Identity Document" class="form-control w-full" [ngClass]="{ 'is-invalid':submitted && f['UploadID'].errors }"/>
                                <div *ngIf="submitted && f['UploadID'].errors" class="invalid-feedback">
                                    <div *ngIf="f['UploadID'].errors['required']">Upload ID is required</div>
                                </div>
                            </div>

                            <div class="form-group col-md-6 mb-4">
                                <input type="text" formControlName="EmpStatus" placeholder="Employement Status" class="form-control w-full"  [ngClass]="{ 'is-invalid':submitted && f['EmpStatus'].errors }"/>
                                <div *ngIf="submitted && f['EmpStatus'].errors" class="invalid-feedback">
                                    <div *ngIf="f['EmpStatus'].errors['required']">Employement Status is required</div>
                                </div>
                            </div>

                            <div class="form-group col-md-6 mb-4">
                                <input type="text" formControlName="Income" placeholder="Current Income" class="form-control w-full"  [ngClass]="{ 'is-invalid':submitted && f['Income'].errors }"/>
                                <div *ngIf="submitted && f['Income'].errors" class="invalid-feedback">
                                    <div *ngIf="f['Income'].errors['required']">Current Income is required</div>
                                </div>
                           
                            
                                <div class="form-group col-md-6 mb-4">
                                    <label for="basic">Schedule a View Date</label>
                            <p-calendar [(ngModel)]="dob" dateFormat="dd/mm/yy"></p-calendar>
                            </div>
                            

                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Additional Information</h3>

                        
                            
                                <div class="form-group col-md-6 mb-4">
                                    <select  formControlName="usertype" class="input-bordered w-full max-w-xs" placeholder="total occupancy" [ngClass]="{ 'is-invalid':submitted && f['usertype'].errors}">
                                        <option value disabled selected hidden>Total Occupancy </option>
                                        <option value="number">1</option>
                                        <option value="number">2</option>
                                        <option value="number">3</option>
                                        <option value="number">4</option>
                                        <option value="number">5</option>
                                        
                                    </select>
                                    <div *ngIf="submitted && f['usertype'].errors" class="invalid-feedback">
                                        <div *ngIf="f['usertype'].errors['required']">total occupancy is required</div>
                                    </div>
                                </div>

                            
                         

                            <div class="form-group col-md-6 mb-4">
                                <label class="input-group">
                                    Number of pets
                                <input type="text" formControlName="petNum" placeholder="0" class="form-control"  [ngClass]="{ 'is-invalid':submitted && f['lastname'].errors }"/>
                                <div *ngIf="submitted && f['petNum'].errors" class="invalid-feedback">
                                    <div *ngIf="f['petNum'].errors['required']">Number of pets is required</div>
                                </div>
                            </label>
                            </div>

                            <div class="form-group col-md-6 mb-4">
                                <label class="input-group">
                                    Pets Description
                                <input type="text" formControlName="petDesc" placeholder="" class="form-control" [ngClass]="{ 'is-invalid':submitted && f['lastname'].errors }"/>
                                <div *ngIf="submitted && f['petDesc'].errors" class="invalid-feedback">
                                    <div *ngIf="f['petDesc'].errors['required']">Pets Description is required</div>
                                </div>
                            </label>
                            </div>
                       
                            <div class="form-group col-md-6 mb-4">
                                <select  formControlName="smoke" class=" input-bordered w-full max-w-xs" placeholder="smoke" [ngClass]="{ 'is-invalid':submitted && f['smoke'].errors}">
                                    <option value disabled selected hidden>Smoke?</option>
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>    
                                </select>
                                <div *ngIf="submitted && f['smoke'].errors" class="invalid-feedback">
                                    <div *ngIf="f['smoke'].errors['required']">smoke is required</div>
                                </div>
                            </div>
                        </div>

                            <div class="form-group">
                                <button type="submit" class="submit btn btn-primary ">Apply</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
