<section class=" gradient-custom">

    <div class="container ">

        <div class="row justify-content-center align-items-center ">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h2 class="mb-4 pb-2 pb-md-0 mb-md-5 center">Application Form for Applicant</h2>

                        <form [formGroup]="Form">

                            <div class="row">
                            </div>
                           <div class="row">
                                <div class="bord form-group col-md-6 mb-4">
                                    <input type="text" formControlName="fname" placeholder="First Name"  class="form-control w-full" [ngClass]="{ 'is-invalid':submitted && f['fname'].errors }"/>
                                    <div *ngIf="submitted && f['fname'].errors" class="invalid-feedback">
                                        <div *ngIf="f['fname'].errors['required']">First name is required</div>
                                    </div>
                                </div>   

                                <div class="form-group col-md-6 mb-4">
                                    <input type="text" formControlName="lname" placeholder="Last Name" class="form-control w-full"  [ngClass]="{ 'is-invalid':submitted && f['lname'].errors }"/>
                                    <div *ngIf="submitted && f['lname'].errors" class="invalid-feedback">
                                        <div *ngIf="f['lname'].errors['required']">Last name is required</div>
                                    </div>
                                </div>   
                            </div>

                                <div class="form-group col-md-6 mb-4">
                                    <input type="email" formControlName="email" placeholder="Email" class="form-control w-full"  [ngClass]="{ 'is-invalid':submitted && f['email'].errors }"/>
                                    <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                        <div *ngIf="f['email'].errors['required']">Email is required</div>
                                        <div *ngIf="f['email'].errors['email']">Email is invalid</div>
                                    </div>
                                </div>

                                <div class="grid grid-cols-12 gap-6">
                                    <div class="col-span-6 sm:col-span-3">
                                     
                                      <input type="text" formControlName="phone_num" placeholder="012-345-6789" autocomplete="given-name" class="mt-1 block">
                                      <div *ngIf="submitted && f['phone_num'].errors" class="invalid-feedback">
                                        <div *ngIf="f['phone_num'].errors['required']">Phone Number is required</div>
                                        <div *ngIf="f['phone_num'].errors['pattern']">Phone Number should follow the pattern 999-999-9999</div>
                                        <div *ngIf="f['phone_num'].errors['maxlength']">Phone Number must not exceed 13 character</div>
                                    </div>
                                    </div>
                                
                                    <div class="col-span-6 sm:col-span-3">
                                      
                                      <input type="number" formControlName="age" placeholder="Age" autocomplete="family-name" class="mt-1 block">
                                      <div *ngIf="submitted && f['age'].errors" class="invalid-feedback">
                                        <div *ngIf="f['age'].errors['required']">age is required</div>
                                    </div>
                                    </div>
                                </div>
                            <br>

                            
                            <div class="form-group col-md-6 mb-4">
                                <input type="file" (change)="handleFileInput($event)" formControlName="id_doc" placeholder="Upload Identity Document" class="block shadow-m input-bordered w-full text-lg max-w-s text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-0 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" [ngClass]="{ 'is-invalid':submitted && f['id_doc'].errors }"/>
                                <div *ngIf="submitted && f['id_doc'].errors" class="invalid-feedback">
                                    <div *ngIf="f['id_doc'].errors['required']">Upload ID is required</div>
                                </div>
                            </div>



                            <div class="form-group col-md-6 mb-4">
                                <input type="text" formControlName="occupation" placeholder="Employement Status" class="form-control w-full"  [ngClass]="{ 'is-invalid':submitted && f['occupation'].errors }"/>
                                <div *ngIf="submitted && f['occupation'].errors" class="invalid-feedback">
                                    <div *ngIf="f['occupation'].errors['required']">Employement Status is required</div>
                                </div>
                            </div>

                            <div class="form-group col-md-6 mb-4">
                                
                                <div class="form-group col-md-6 mb-4 max-w-s w-full">
                                    <label for="basic">Schedule a View Date</label>
                            <p-calendar [(ngModel)]="dob" dateFormat="dd/mm/yy"></p-calendar>
                            </div>
                            

                            <h2 class="mb-4 pb-2 pb-md-0 mb-md-5">Additional Information</h2>

                        
                            
                                <div class="form-group col-md-6 mb-4">
                                    <select  formControlName="num_tenants" class="form-control w-full" placeholder="total occupancy" [ngClass]="{ 'is-invalid':submitted && f['num_tenants'].errors}">
                                        <option value disabled selected hidden>Total Occupancy </option>
                                        <option value="number">1</option>
                                        <option value="number">2</option>
                                        <option value="number">3</option>
                                        <option value="number">4</option>
                                        <option value="number">5</option>
                                        
                                    </select>
                                    <div *ngIf="submitted && f['num_tenants'].errors" class="invalid-feedback">
                                        <div *ngIf="f['num_tenants'].errors['required']">total occupancy is required</div>
                                    </div>
                                </div>


                            <div class="form-group col-md-6 mb-4">
                                <label class="input-group">
                                    Number of pets
                                <input type="text" formControlName="num_pets" placeholder="0" class="form-control"  [ngClass]="{ 'is-invalid':submitted && f['num_pets'].errors }"/>
                                <div *ngIf="submitted && f['num_pets'].errors" class="invalid-feedback">
                                    <div *ngIf="f['num_pets'].errors['required']">Number of pets is required</div>
                                </div>
                            </label>
                            </div>

                            <div class="form-group col-md-6 mb-4">
                                <label class="input-group">
                                    Pets Description
                                <input type="text" formControlName="ped_desc" placeholder="" class="form-control" [ngClass]="{ 'is-invalid':submitted && f['ped_desc'].errors }"/>
                                <div *ngIf="submitted && f['ped_desc'].errors" class="invalid-feedback">
                                    <div *ngIf="f['ped_desc'].errors['required']">Pets Description is required</div>
                                </div>
                            </label>
                            </div>
                       
                            <div class="form-group col-md-6 mb-4">
                                <select  formControlName="smoke" class="form-control w-full" placeholder="smoke" [ngClass]="{ 'is-invalid':submitted && f['smoke'].errors}">
                                    <option value disabled selected hidden>Smoke?</option>
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>    
                                </select>
                                <div *ngIf="submitted && f['smoke'].errors" class="invalid-feedback">
                                    <div *ngIf="f['smoke'].errors['required']">smoke is required</div>
                                </div>
                            </div>
                        </div>

                            <!-- The button to open modal -->
                            <button type="button" (click)="onSubmit()">Apply</button>
                <!-- <label for="my-modal" class="btn modal-button " >Apply</label> -->
              
            
<!-- Put this part before </body> tag -->
                <input type="checkbox" id="my-modal" class="modal-toggle" />
                <div class="modal" >
                    <a href="myroom"></a>
                    <div class="center modal-box">
                       <i class="pi pi-check pi-check-circle text-success" style="font-size: 5rem"></i>
                       <h3 class="text-success font-bold text-lg"><a href="myroom">Application Successful</a></h3>
                       
                    <div class="modal-action">
                  <label for="my-modal" class="btn bg-success">OK</label>
                       </div>
                   </div>
               </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>







