<!------------------------------- content ---------------------------->

<div class="card1 bg-base-100 shadow-xl col-12 ml-0 pt-5 justify-content-center"   style="width: 100%;">
    <figure><img src="../../../assets/images/tierra-mallorca-rgJ1J8SDEAY-unsplash.jpg" class="img-fluid w-100" alt="Shoes"/></figure>
    <div class="card-body">
      <p>Wize rentals is here to find you a 
        accommodation in a region you want at the
        price you can afford</p>
    </div>
  </div>

<!-------------------------------- search ------------------------------>
<div class="container-fluid pt-5 ml-3 mr-3 col-sm-12 col-xl-2 col-md-6" >
   What do you need?
  <div class="buttons shadow-md col-md-12 justify-content-center pt-1">
    <button class="btn1" routerLink="/login">To Rent</button>
    <button class="btn2" routerLink="/login">To Advertise</button>
  </div>


  <br>
  <div class="search col-xl-12">
    <div class="form-control justify-content-flex" style="width: 70%;">
        <input type="text" placeholder="&#xf0e0; Search address,city,location" name="searchItem" [(ngModel)]="searchItem" class="input input-bordered"/>
        
      </div>
      <div class="space1">
    </div>
    <label for="my-modal" class="btn modal-button btn-primary" style="width: 27%;">Filter by</label>
   
  </div>

  <!-- <div class="filter rounded mx-auto bg-light shadow pt-5">
      <div class="drop justify-center">
        <div class="first">
        <div class="dropdown">
          <label tabindex="0" class="btn m-1 btn-primary">Property type</label>
          <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
            <li><a>backroom</a></li>
            <li><a>commune</a></li>
          </ul>
        </div>
    
        <div class="dropdown">
          <label tabindex="0" class="btn m-1 btn-primary">Bedroom</label>
          <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
            <li><a>Single</a></li>
            <li><a>Sharing</a></li>
          </ul>
        </div>
      </div>
    <br>
    
    <div class="sec">
    <div class="dropdown">
      <label tabindex="0" class="btn m-1 btn-primary">Min amount</label>
      <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
        <li><a>R1500</a></li>
        <li><a>R2000</a></li>
      </ul>
    </div>
    
    
    <div class="dropdown">
      <label tabindex="0" class="btn m-1 btn-primary">Max Amount</label>
      <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
        <li><a>R3000</a></li>
        <li><a>R4500</a></li>
      </ul>
    </div>
      </div>
    </div>
        <div class="modal-action">
        </div>
      </div> -->
</div>

<!------------------------------ Modal for filter by------------------------------------>
<input type="checkbox" id="my-modal" class="modal-toggle" />
<!-- <div class="modal">
  <div class="modal-box">
  <div class="drop justify-center">
    <div class="first">
    <div class="dropdown">
      <label tabindex="0" class="btn m-1 btn-primary" >Property type</label>
      <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
        <li><a>backroom</a></li>
        <li><a>commune</a></li>
      </ul>
    </div>

    <div class="dropdown">
      <label tabindex="0" class="btn m-1 btn-primary">Bedroom</label>
      <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
        <li><a>Single</a></li>
        <li><a>Sharing</a></li>
      </ul>
    </div>
  </div>
<br>


<div class="dropdown">
  <label tabindex="0" class="btn m-1 btn-primary">Min amount</label>
  <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
    <li><a>R1500</a></li>
    <li><a>R2000</a></li>
  </ul>
</div>

<div class="dropdown">
  <label tabindex="0" class="btn m-1 btn-primary">Max Amount</label>
  <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
    <li><a>R3000</a></li>
    <li><a>R4500</a></li>
  </ul>
</div>
  </div>
    <div class="modal-action">
      <label for="my-modal" class="btn">X</label>
    </div>
  </div>
</div> -->
  
<!--------------------------------------- ng for (properties)------------------------------------------------>
    <div class="prop pt-5 justify-content-center md:prop-cols-1 rounded" >
      <div class="grid pl-2 pr-2 ml-0 mr-2 md:grid-cols-2 sm:grid-cols-1 xs:grid-cols-1 lg:grid-cols-3 justify-center">
      <div *ngFor="let i of property| filter: searchItem;let x = index " >
        
      <div class="card w-96 bg-base-100 shadow-xl col-xl-10 col-md-10 col-sm-10 pt-5" routerLink="/view">
        <figure><img src="../../../assets/images/landing.jpeg" alt="Shoes" /></figure>
        <div class="card-body">
            <h6>{{i.p_name}} accommodations</h6>
            <h6>{{i.p_address}}<br>Brixton Johannesburg, 0001</h6>
            <div class="icons">
           
            <i class="fa-solid fa-bed"></i><h6>{{i.p_room}} rooms </h6>
            <div class="space">
            </div>
            <i class="fas fa-bath"></i><h6>{{i.p_bath}} bathrooms</h6>
        
        </div>
        <h6>{{i.p_type}}</h6>
        <h4>R{{i.p_price}}/Month</h4>
        </div>
      </div>
      <br>
  </div>

  </div>