

<!-- nav-bar -->
<app-nav-bar></app-nav-bar>

<!------------------------------- content ---------------------------->
<div class="card1 bg-base-100 shadow-xl col-12 justify-content-center"   style="width: 100%;">
    <figure><img src="../../../assets/images/tierra-mallorca-rgJ1J8SDEAY-unsplash.jpg" class="img-fluid w-100" alt="Shoes"/></figure>
    <div class="card-body">
      <p>Wize rentals is here to find you a 
        accommodation in a region you want at the
        price you can afford</p>
    </div>
  </div>

  <!-- <div class="card lg:card-side bg-base-100 shadow-xl m-3 p-2 justify-content-center" style="width: 98%;">
    <figure><img src="../../../assets/images/tierra-mallorca-rgJ1J8SDEAY-unsplash.jpg" alt="Shoes" /></figure>
    <div class="card-body">
      <h2 class="card-title">WizeRentalz</h2>
      <div class="card-body">
        <p>Wize rentals is here to find you a 
          accommodation in a region you want at the
          price you can afford</p>
        </div>
      </div>

      <div class="card-actions justify-end">
      </div>
    </div> -->
  

<!-------------------------------- search/filter/toggle ------------------------------>
<div class="container-fluid pt-5 ml-3 mr-3 col-sm-12 col-xl-2 col-md-6" >
  
<!------------------------------------- toggle  ------------------------------------>
   What do you need?
  <div class="buttons shadow-md col-md-12 justify-content-center pt-1">
    <!-- /tenant/home -->
    <button class="btn1" routerLink="/login">To Rent</button>
    <button class="btn2" routerLink="/login">To Advertise</button>
  </div>

<!------------------------------------ search --------------------------------------->
  <br>
  <div class="search col-xl-12">
    <div class="form-control justify-content-flex" style="width: 70%;">
        <input type="text" placeholder="&#xf0e0; Search address,city,location" name="searchItem" [(ngModel)]="searchItem" class="input input-bordered"/>
        
      </div>
      <div class="space1">
    </div>
    <br>
    <label for="my-modal" class="btn modal-button btn-primary" (change)="filter" style="width: 27%;">Filter by</label>
   
  </div>


<!-- filter by -->

  <!-- <div  *ngIf="condition" class="filter  mx-auto bg-light shadow pt-3 pl-1 ml-2 mr-2"> -->

    <!-- <div  class="filter col-md-10 mx-auto bg-light shadow pt-3 pl-3 ml-2 mr-2 gap-5">
      <div class="flex drop justify-center md:drop-cols-2 xl:drop-cols-4">
        <div class="first">
        <div class="dropdown">
          <label tabindex="0" class="btn m-1 btn-primary">Room type<i class="bi bi-caret-down-fill"></i></label>
          <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
            <li><a>backroom</a></li>
            <li><a>commune</a></li>
          </ul>
        </div>
    
        <div class="dropdown">
          <label tabindex="0" class="btn m-1 btn-primary">Bedroom <i class="bi bi-caret-down-fill"></i></label>
          <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
            <li><a>Single</a></li>
            <li><a>Sharing</a></li>
          </ul>
        </div>
      </div>
    
    
    <div class="sec">
    <div class="dropdown">
      <label tabindex="0" class="btn m-1 btn-primary">Min amount <i class="bi bi-caret-down-fill"></i></label>
      <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
        <li><a>R1500</a></li>
        <li><a>R2000</a></li>
      </ul>
    </div>
    
    
    <div class="dropdown">
      <label tabindex="0" class="btn m-1 btn-primary">Max Amount <i class="bi bi-caret-down-fill"></i></label>
      <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
        <li><a>R3000</a></li>
        <li><a>R4500</a></li>
      </ul>
    </div>
      </div>
    </div>
        <div class="modal-action">
          <button class="btn m-1 btn-primary" (click)="filterby()">filter</button>
        </div>
      </div>  -->
      <!-- endof filter -->
</div>


<!-- <form [formGroup]="Form">
  <div class="form-group mb-6" >
   
    <select (change)="caller()" formControlName="usertype" class="email"
      placeholder="Select Accommodation Address ...">
      <option value disabled selected hidden>All</option>
      <option *ngFor="let i Of tenantAddress" value="{{i.p_address}}">{{i.p_address}}</option>&nbsp;
    </select>&nbsp;
  </div>
</form> -->


<!--------------------------------------- ng for (properties)------------------------------------------------>
    <div class="flex prop pt-5 justify-center md:prop-cols-1 rounded"  >
      <div class="grid m-5 md:grid-cols-2 sm:grid-cols-1 xs:grid-cols-1 lg:grid-cols-3  gap-10 justify-center" style="width: 90%;">
      <div *ngFor="let i of property | filter:searchItem ;let x = index " >
        
      <div class="card w-96 bg-base-100 shadow-xl col-xl-10 col-md-10 col-sm-10" routerLink="/view/{{i.property_id}}">
        <figure><img class="img" src="../../../assets/images/landing.jpeg" alt="Shoes" /></figure>
        <div class="card-body">
            <h6>{{i.p_name}} accommodations</h6>
            <h6>{{i.p_address}}<br>Brixton Johannesburg, 0001</h6>
            <div class="icons">
           
            <i class="fa-solid fa-bed"></i><h6>{{i.p_room}} rooms </h6>
            <div class="space">
            </div>
            <i class="fas fa-bath"></i><h6>{{i.p_bath}} bathrooms</h6>
        
        </div>
        <h6>{{i.p_type}}</h6>
        <h4>R{{i.p_price}}/Month</h4>
        </div>
      </div>
      <br>
  </div>

  </div>

<!-- 
  <label for="name">Name </label>
<input type="text" id="name" [formControl]="name"/>
<label for="cat">Category </label>
<input type="text" id="cat" [formControl]="category"/>
<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
  </tr>
  <tr *ngFor="let item of array | search: [name.value, category.value]: ['name', 'catName'] ;">
    <td>{{item.name}}</td>
    <td>{{item.catName}}</td>
  </tr>
</table> -->