.property{
        background-color: #D27C2C;
        color: white;
        margin-left: auto;
        padding: 8px 35px;
        border-radius: 8px;

}
.navbar{
        background-color: #55ADEA;
        color: white;
    }
    .bell .fa-bell{
        font-size: 1.5rem
    }
    .badge{
        color: red;
    }
    h1{
        font-family: 'Inder';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-transform: capitalize;
    }