<div class="container-fluid bg-primary">
  <div class="navbar bg-base-100 top-0 z-50">
      <div class="flex-1">
          <label for="my-drawer-3"  class="btn btn-ghost btn-circle">
              <i class="pi pi-align-left" style="font-size: 1rem"></i>
          </label>
      </div>

      <div class="flex-none ">
          <div class="user">
              <p>Hi {{Full_Name}}</p>
          </div>

          <button class="btn btn-ghost btn-circle">
              <div class="indicator bell">
                  <a (click)="visibleSidebar2 = true">
                    <i class="fa-regular fa-bell"></i>
                  <span class="badge badge-xs badge-primary indicator-item">{{totalNumber}}</span>
                  </a>
              </div>
          </button>    
      </div>
  </div>
</div>


<div class="min-h-full">
    <nav class="bg-gray-800">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        
          <div class="flex items-center">
            <div class="flex-shrink-0">
  
              <!--menu for mobile app-->

  
            </div>
           
          </div>

      
      </div>
  
      <!-- Mobile menu, show/hide based on menu state. -->
      <div class="md:hidden" id="mobile-menu">
        <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
  
        </div>
  
      </div>
    </nav>
  
    

    <main class="grid md:grid-cols-2 sm:grid-cols-1 xs:grid-cols-1 lg:grid-cols-3 gap-3 justify-center">
      <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
  
        <!-- Replace with your content -->
        <div class="card  card-compact bg-base-100 shadow-xl w-full">
            <div class="card-body">
                <h2 class="card-title"></h2>
                <p></p>
                <p class="applicants">Once You Have New Applicant You <br> Will See Them Here <br> <br></p>
                <div class="card-actions justify-end">
                </div>
            </div>
        </div>
    </div>   
        <!--End -->
    
    </main>
  </div>
  