<div class="container mx-auto mb-5" style="margin-top: 8vh;">
    <div class="flex justify-end">
        <div class="form-group addproperty">
            <button type="btn" class="text-white btn-primary focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:btn-primary dark:hover:btn-primary dark:focus:ring-blue-800"><a routerLink='/landlord/addproperty/'>Add New Property</a></button>
        </div> 
    </div>
</div>

<ng-container *ngIf="myProperty.length == 0" >
    <div class="container">
        <div class="flex justify-center">
            <div class="grid sm:grid-cols-1 ">
                <div class="card empty w-full shadow-xl">
                    <div class="card-body">
                        <h2 class="card-title">My Properties</h2>
                        <div>
                            <h5>You have 0 Property</h5>
                            <h6>Upload your property for advertising</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container> 

<ngx-loading
    [show]="loading"
    [config]="{
    animationType: ngxLoadingAnimationTypes.circleSwish,
    primaryColour: '#ffffff', secondaryColour: '#ffffff',
    backdropBorderRadius: '3px'
    }">
</ngx-loading>






