<ngx-ui-loader></ngx-ui-loader>
<p-toast position="top-right" ></p-toast>
<p-confirmDialog [style]="{width: '450px'}" header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<div class="container mx-auto mb-5" style="margin-top: 8vh;">
    <div class="flex justify-end">
        <div class="form-group addproperty">
            <button type="btn" class="text-white btn-primary focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:btn-primary dark:hover:btn-primary dark:focus:ring-blue-800" [routerLink]="['/landlord/addproperty']"  >Add New Property</button>
        </div> 
    </div>
</div>

<ng-container *ngIf="number == 0" >
    <div class="container">
        <div class="flex justify-center">
            <div class="grid sm:grid-cols-1 ">
                <div class="card empty w-full shadow-xl">
                    <div class="card-body">
                        <h2 class="card-title">My Properties</h2>
                        <div>
                            <h5>You have 0 Property</h5>
                            <h6>Upload your property for advertising</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="number != 0" >
    <div class="container">
        <div class="overflow-x-auto">
            <table class="table w-full">
                <thead>
                    <tr>
                        <th >ID</th>
                        <th >Image</th>
                        <th >Accommodation Name</th>
                        <th >Address</th>
                        <th >Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i Of myData; let c = index">
                        <td>{{c+1}}</td>
                        <td><img [src]="i.house_image" class="lg:w-36 lg:h-36"/></td>
                        <td>{{i.p_name }}</td>
                        <td>{{i.p_address}} {{i.p_city}}</td>
                        <td>
                            <a (click)="deleteProduct(i)" type="button" class="button btn-danger focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium" >
                                <i class="fa fa-trash fa-lg"></i> Delete
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-container> 

